<% include ../partials/header %>
   <% if(currentUser && currentUser.isAdmin) { %>
       <div class="alert alert-info" role="alert">You are and admin!</div>
   <% } %>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>This is the campgrounds page</h1>
                <p>View our hand-picked campgrounds from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
                </p>
            </div>
        </header>
    
        <div class="row text-center" id="campground-grid">
            <% campgrounds.forEach(function(campgrounds){ %>
               <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                      <img class="card-img-top" src="<%= campgrounds.image %>" alt="<%= campgrounds.name %>">
                      <div class="card-body">
                          <h4 class="card-title"><%= campgrounds.name %></h4>
                      </div>
                      <p>
                        <a href="/campgrounds/<%= campgrounds._id %>" class="btn btn-primary">More Info</a>
                       </p>
                    </div> 
                    
               </div>
            <% }); %>
        </div>
    </div>


<% include ../partials/footer %>